@use '../../../styles/helpers' as *;

.title-container {
    display: flex;
    column-gap: rem(25);
    align-items: center;

    &__title {
        font-weight: 600;
        font-size: rem(32);

        @include mobile {
            font-size: rem(24);
        }
    }

    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: rem(5);
        
        @include mobile {
            font-size: rem(14);
        }
    }
}