@use '../../styles/helpers/' as *;

.autosList {
    display: flex;
    flex-direction: column;
    row-gap: rem(50);
}

.adFound {
    &__title {
        font-size: rem(32);
        font-weight: 600;
    }
}