@use '../../styles/helpers' as *;

.header {
    background-color: var(--color-dark);
}


.navbar {    
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-block: rem(10);  

    &__overlay {
        display: flex;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(12);
    
    &__title{
        font-size: 20;
        font-weight: 600;
        color: var(--color-light);
    }
    
}